# System files
.DS_Store

# IDE and editor files
.idea
.vscode
.settings
.classpath
.project
.factorypath
.clwb
*.ipr
*.iws
*.iml
*.suo
*.userprefs
settings.json

# Build and output directories
bin/
target/
build/
obj/
.build/
cmake-build-debug/
generated/
packages/
codegen/
gen_msg/
gen_svc/
node_modules/
vendor/
.gradle/
gradle/
.dart_tool/
bazel-*/

# Log files
*.log
*.gz
log/

# Dependency files
package-lock.json
*.lock
dependency-reduced-pom.xml
go.sum
*/go.sum
gradlew*
Package.resolved

# Language-specific files
## Java/Kotlin
*.class
*.jar

## Protocol Buffers
*.pb
*.pb.cc
*.pb.h
pb/
envoy/*.pb

## Python
__pycache__/
*.pyc
venv/

## Swift
.swiftpm/

## TypeScript/JavaScript
hello-grpc-ts/*.js

# Project-specific
## Flutter
.flutter-plugins
.flutter-plugins-dependencies
.metadata
nul
android/
ios/
web/
linux/
macos/
windows/
!android/build.gradle
!android/app/src/profile/AndroidManifest.xml
hello_grpc_flutter/build/*

## PHP
hello-grpc-php/common/msg/
hello-grpc-php/common/svc/

## CPP dependencies
docker/grpc/
docker/glog/
docker/gflags/
docker/Catch2/
docker/hello-grpc-*
hello-grpc-cpp-cmake/grpc/*
bazel-*

## Kotlin
hello-grpc-kotlin/client/build/
hello-grpc-kotlin/server/build/
hello-grpc-kotlin/stub/build/
hello-grpc-kotlin/protos/build/

## Other
*.drawio.*
default.etcd
sync.sh
*.sln.DotSettings.user
.next/
hello-grpc-ts/dist