.DS_Store
codegen
gen_msg
gen_svc
*.ipr
*.iws
*.iml
bin
target
*.class
.idea
.settings
.classpath
.project
.vscode
settings.json
.factorypath
.github
__pycache__
pb
*.log
*.gz
*/go.sum
node_modules
*.pyc
package-lock.json
*.lock
envoy/*.pb
dependency-reduced-pom.xml
go.sum
*.pb.cc
*.pb.h
cmake-build-debug
.gradle
gradle
generated
obj
packages
*.suo
*.userprefs
*.jar
docker/hello-grpc-*
Package.resolved
*.sln.DotSettings.user
hello-grpc-cpp-cmake/grpc/*
default.etcd
gradlew*
.next
.build
.swiftpm
*.drawio.*
.dart_tool
#
# flutter
android
!android/build.gradle
!android/app/src/profile/AndroidManifest.xml
ios
web
linux
macos
windows
test
.metadata
nul
.flutter-plugins
.flutter-plugins-dependencies

# php
vendor
hello-grpc-php/common/msg
hello-grpc-php/common/svc

# cpp dependencies
docker/grpc
docker/glog
docker/gflags
docker/Catch2
bazel-*
.clwb

# flutter
hello_grpc_flutter/build/*
# kotlin
hello-grpc-kotlin/client/build
hello-grpc-kotlin/server/build
hello-grpc-kotlin/stub/build
hello-grpc-kotlin/protos/build
sync.sh
