# python -m grpc.tools.protoc --version
# 由 grpcio-tools 版本决定； 注意与 protoc --version兼容
# https://pypi.org/project/grpcio-tools/
grpcio-tools==1.76.0
# https://pypi.org/project/protobuf/
# grpcio-tools 1.71.0 depends on protobuf<6.0dev and >=5.26.1
protobuf==6.33.2