# https://pypi.org/project/grpcio-tools/
grpcio-tools==1.59.0
# https://pypi.org/project/protobuf/
protobuf==4.24.4
# https://pypi.org/project/futures/
# https://pypi.org/project/futures3/
futures==3.0.5
# https://pypi.org/project/setuptools/
setuptools>=68.2.2 # not directly required, pinned by Snyk to avoid a vulnerability